*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(31, 2, 26);
    color: rgb(241, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
h2{
    margin-top:20px ;
    font-size: 30px;
    font-weight: 600;
}
span{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 5px;
    border-radius: 5px;
}
#display input{
    border: none;
    outline: none;
    font-size: 23px;
}
#display{
    margin-bottom: 40px;
}
#display img{
  width: 30px;
  height: 30px;
  color: green;
  cursor: pointer;
}
button img{
    width: 60px;
    height: 60px;
}
button{
    width: 230px;
    display: flex;
    justify-content:space-around;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
   
}
span{
    display: block;
    padding-top: auto;
    padding-bottom: auto;
    text-transform: capitalize;
    color: green;
    font-size: 23px;
    font-weight: 600px;
}
span img{
   background: green;;
}
